**/node_modules/
**/dist/
**/frontend/public/public_key.pem
**/backend/src/data/private_key.pem
**/backend/src/data/database.json
**/backend/src/data/sessions.json
**/backend/src/data/userDatabase.json
**/backend/.env
