.main-button {
    width: 40vw;
    height: 40vw;
    flex-shrink: 0;
    border-radius: 70px;
    border: 2px solid #FFF;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.00) 2.41%, rgba(255, 255, 255, 0.50) 99.97%);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.main-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.button-text {
    color: #FFF;
    text-align: center;
    font-family: 'Lexend', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .main-button {
        width: 37vh;
        height: 37vh;
        max-width: 80vw;
    }
}