.med-heading {
  color: rgb(241, 233, 233);
  text-align: center;
  font-family: Lexend;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-family: 'Lexend', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@media (max-width: 768px) {
  .med-heading {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}