.box-bg-style {
  border-radius: 61.6px;
  border: 1.76px solid #FFF;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.00) 2.41%, rgba(255, 255, 255, 0.50) 99.97%);
  backdrop-filter: blur(1.7599999904632568px);
}