/* We want container to fill viewport */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.main {
    background-color: #0F003C;
    width: 100%;
    height: 100vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: rgb(241, 233, 233);
    font-size: 50px;
    /* margin: 20px 0; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
    gap: 2rem;
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
        align-items: center;
    }

}
